$font-family: "Noto Sans SC", sans-serif;

$primary: #88738d;
$secondary: #525174;
$blue: #348aa7;
$green: #5dd39e;
$green-light: #bce784;
$light-grey: #d1d1d1;
$dark-grey: #9c9c9c;

$background: #f7f7f7;

$smartphone: 480px;
$tablet: 768px;
$desktop: 1024px;
